@charset "ISO-8859-1";

* {
	font-size: 20px;
	font-family: 'Arial';
	color: black; /*si no se especifica este es el color*/
}

#fondo {
	/*background-color: red;
	background-color: rgba(255,0,0,1);
	/*opacity: 0.3;
	height: 400px;
	/*background-size: auto;
	background-repeat: no-repeat;
	background-position: center top;
	top
	center
	bottom
	*/
	/*
	background: #f00 url('fondo.png')  repeat-y center bottom / 200px 200px;
	background-size: cover;
	background-image: url('fondo1.png');
	*/
	background-color: LightBlue;
	background-size: auto;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
}

.margen {
	/*background-color: white;*/
	margin: 15px 15px 15px 15px;
	padding: 30px 25px 20px 15px;
	/*border: solid 1px black;*/
	/*overflow: scroll;*/
}

.stickyicon-list {
	position: fixed;
	top: 50%;
	-webkit-transform: translateY(-80%);
	-ms-transform: translateY(-80%);
	transform: translateY(-100%);
	
}

.stickyicon-list a {
	display: block;
	text-align: center;
	padding: 16px;
	transition: all 0.3s ease;
	color: white;
	font-size: 20px;
}
/* HOver affect on sticky social media icons */
.stickyicon-list a:hover {
	color: #000;
}

/* Now we have to design each icon of social media */
.facebook {
	background: #3b5998;
	color: white;
}

.twitter {
	color: white;
	background: #00acee;
}

.linkedin {
	background: #0e76a8;
	color: white;
}

.google {
	color: white;
	background: #db4a39;
}

.instagram {
	background: #3f729b;
	color: white;
}

.youtube {
	color: white;
	background: #c4302b;
}

#titulo {
	color: black;
	font-size: 40px;
}

.btn-group button {
	/*background-color: #04AA6D;  Green background */
	border: 1px solid black; /* Green border */
	color: black; /* White text */
	padding: 10px 10px; /* Some padding */
	cursor: pointer; /* Pointer/hand icon */
	float: right; /* Float the buttons side by side */
	font-size: 20px;
}

.btn-group button:not(:last-child) {
	border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
	content: "";
	clear: both;
	display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
	background-color: #CD5C5C;
}

.btn-opciones button {
	border: 1px solid black; /* Green border */
	color: white; /* White text */
	padding: 10px 24px; /* Some padding */
	cursor: pointer; /* Pointer/hand icon */
	width: 12%; /* Set a width if needed */
	top: 50%;
	display: inline-table; /* Make the buttons appear below each other */
}

/* Add a background color on hover */
.btn-opciones button:hover {
	background-color: #CD5C5C;
}

/**************Login*****************************/